@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Loved+by+the+King&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Cinzel+Decorative&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

*::-moz-selection {
  color: darkmagenta;
  background-color: mistyrose;
}

*::selection {
  color: darkmagenta;
  background-color: mistyrose;
}

*::-moz-selection {
  color: darkmagenta;
  background-color: mistyrose;
}

.regresar > * {
  color: #9e0059;
  font-size: 20px;
  grid-area: regresar;
  margin: 50px;
}
@media (max-width: 1000px) {
  .regresar > * {
    font-size: 16px;
  }
}

.regresar2 > * {
  color: #e0aaff;
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px;
  padding-left: 80px;
}
@media (max-width: 1000px) {
  .regresar2 > * {
    font-size: 16px;
    padding-bottom: 30px;
    padding-left: 40px;
  }
}

.regresar3 > * {
  color: #9b5de5;
  font-size: 20px;
  margin: 50px;
}
@media (max-width: 1000px) {
  .regresar3 > * {
    font-size: 16px;
    padding-bottom: 30px;
    padding-left: 40px;
  }
}

.paginaI {
  background-color: black;
}
.paginaI .contenido1 {
  background-color: black;
  color: #ffcad4;
  font-size: larger;
}

.titulo {
  color: #ff9f1c;
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  margin-top: 10px;
}

.titulo2 {
  color: red;
  font-family: "Cinzel Decorative", cursive;
  font-size: 70px;
  text-align: center;
  padding-top: 0;
}

.texto1 {
  margin: 20px;
  text-align: justify;
  font-size: 20px;
  border-radius: 2rem;
  display: flex;
}
@media (max-width: 1000px) {
  .texto1 {
    font-size: 16px;
  }
}
.texto1 .footer {
  margin: 20px;
  background-color: black;
}
.texto1 .footer .categoria {
  font-family: "Julius Sans One", sans-serif;
  grid-area: categoria;
  margin-left: 250px;
}
@media (max-width: 800px) {
  .texto1 .footer .categoria {
    margin-left: 0;
  }
}
.texto1 .menu {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  color: #9b5de5;
}
.texto1 .opciones {
  display: flex;
  flex-direction: row; /*row, column, row-reverse, column-reverse*/
  flex-wrap: wrap; /* tambien se puede escribir como flex-flow: row wrap;*/
  gap: 1rem;
  justify-content: flex-end;
}

.til {
  color: #b5179e;
  font-family: "Cinzel Decorative", cursive;
}
.til bruj {
  background-color: #081c15;
  color: aquamarine;
  font-family: "Cinzel Decorative", cursive;
}
.til Demonios {
  background-color: black;
  color: #9e0059;
  font-family: "Cinzel Decorative", cursive;
}

/*-----------------BRUJAS-------------------*/
.paginaB {
  background-color: #081c15;
}
.paginaB .contenidoBrujas {
  background-color: #081c15;
  color: #9b5de5;
  justify-content: flex-start;
  text-align: justify;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  font-size: 20px;
  margin-right: 30px;
  margin-left: 30px;
}
@media (max-width: 1000px) {
  .paginaB .contenidoBrujas {
    justify-content: center;
    text-align: justify;
    font-size: 15px;
  }
}
.paginaB .contenidoBrujas .brujas {
  color: #dc2f02;
  font-size: 100px;
  font-family: "Castoro Titling", cursive;
  text-align: end;
  background-color: #132a13;
}
@media (max-width: 1000px) {
  .paginaB .contenidoBrujas .brujas {
    font-size: 50px;
  }
}
.paginaB .footerB {
  margin: 50px;
}
.paginaB .footerB .form {
  background-color: #081c15;
}

.historias {
  color: #132a13;
  background-color: #a3b18a;
  margin: 50px;
  border: 3px ridge #e0aaff;
  width: 500px;
  padding: 20px;
  animation-name: cambiar-color;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes cambiar-color {
  0% {
    background-color: pink;
  }
  25% {
    background-color: aquamarine;
  }
  50% {
    background-color: #c415c4;
  }
  100% {
    background-color: pink;
  }
}

.b {
  grid-area: b;
}

.a {
  grid-area: a;
}

/*------------H1------------------------*/
.titulobrujas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulobrujas h1 {
  position: absolute;
  color: aliceblue;
  font-family: "Cinzel Decorative", cursive;
}

.contenidoH1 {
  background-color: #435f62;
}

.grilla3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "uno  Bbrujas" "Bbrujas2  dos" "tres  tres";
}
.grilla3 .uno {
  grid-area: uno;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 10px;
  font-size: 20px;
  text-align: justify;
}
.grilla3 .dos {
  grid-area: dos;
  padding-left: 10px;
  padding-right: 20px;
  font-size: 20px;
  text-align: justify;
}
.grilla3 .tres {
  grid-area: tres;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  text-align: justify;
}

.Bbrujas {
  grid-area: Bbrujas;
  height: 420px;
  width: 460px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.Bbrujas2 {
  grid-area: Bbrujas2;
  height: 420px;
  width: 460px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.categoria {
  font-family: "Julius Sans One", sans-serif;
  grid-area: categoria;
  margin-left: 50px;
}

/*-----------------Demonios-------------------*/
.paginaD {
  background-color: black;
}
.paginaD .tituloD {
  color: red;
  font-size: 50px;
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  margin-top: 10px;
  padding-left: 20px;
}
.paginaD .conten {
  background-color: black;
}

.historias2 {
  color: #132a13;
  background-color: #ad4f08;
  margin: 50px;
  border: 3px ridge #3c096c;
  width: 500px;
  padding: 20px 20px 20px 20px;
  animation-name: cambiar-color;
  animation-duration: 10s;
  animation-delay: 1s; /*desde  que carga la pagina*/
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; /*cuantas veces se repite*/
  animation-fill-mode: both; /*hasta el  ultimo estado del movimiento*/
}
@keyframes cambiar-color {
  0% {
    background-color: pink;
  }
  25% {
    background-color: rgb(8, 82, 57);
  }
  50% {
    background-color: #6e266e;
  }
  100% {
    background-color: rgb(211, 97, 116);
  }
}

.formularioD {
  background-color: black;
}

/*-----------------Historia 2-------------------*/
.titulodemonios {
  display: flex;
}
@media (max-width: 1000px) {
  .titulodemonios {
    display: inline;
  }
}
.titulodemonios h1 {
  color: #540b0e;
  font-family: "Cinzel Decorative", cursive;
  font-size: 50px;
}

.contenidoH2 {
  background-color: #3c096c;
}

.textd {
  font-family: "Cormorant Garamond", serif;
  font-size: larger;
  padding: 30px 30px;
  text-align: justify;
  color: aliceblue;
  display: flex;
}
@media (max-width: 1000px) {
  .textd {
    font-size: 19px;
  }
}

.link {
  font-size: small;
  background-color: #3c096c;
  width: 100px;
  margin: 10px;
  padding: 20px 20px 15px 10px;
  border: 3px double rgb(255, 174, 201);
  position: relative;
  text-align: center;
  color: #ffcad4;
  text-decoration: none;
  font-family: "Cinzel Decorative", cursive;
  display: inline-block;
}
.link:hover {
  background-color: seagreen;
  transform: translate(10px, -30px);
}

.link1 {
  background-color: #66023c;
}
.link1:hover {
  background-color: #ff9f1c;
}

.imagen2 {
  text-align: center;
  margin-left: 50px;
  grid-area: Imagen2;
}

.imagenB {
  width: 700px;
  height: 700px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.textoimagen2 {
  display: flex;
  font-size: smaller;
}

.imagen3 {
  margin-right: 10px;
  position: static;
}

.bosque {
  width: -moz-fit-content;
  width: fit-content;
  height: 200px;
}

.Bbrujas {
  grid-area: Bbrujas;
  height: 500px;
  width: 685px;
  margin-top: 20px;
}

.Bbrujas2 {
  grid-area: Bbrujas2;
  padding-left: 20px;
  height: 550px;
  width: 620px;
}

.dem {
  align-self: center;
  align-content: center;
  padding-right: 10px;
}

.imagenh2 {
  height: 200px;
  padding: 10px;
  width: 250px;
}

.imagenh5 {
  height: 300px;
  padding: 10px;
  width: 300px;
}

@media (max-width: 1426px) {
  .titulo2 {
    color: #da627d;
  }
  .grillita {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 3rem;
    grid-template-areas: "regresar" "categoria" "a" "b";
    align-content: space-evenly;
  }
  .textoimagendem {
    display: flex;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    color: red;
  }
  .dem {
    width: 700px;
    height: 700px;
    margin-left: 40px;
    margin-bottom: 20px;
    align-self: auto;
  }
}
@media (max-width: 1000px) {
  .textoimagendem {
    display: block;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
    color: rgb(255, 255, 255);
  }
  .dem {
    align-self: center;
    align-content: center;
    padding-right: 10px;
    height: 420px;
    width: 460px;
  }
  .imagen2 {
    height: 420px;
    width: 460px;
  }
  .imagenB {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    margin: 0 auto;
  }
  .textoimagen2 {
    display: flow-root;
    font-size: 17px;
    align-self: center;
  }
  .titulo {
    color: #b5179e;
  }
  .texto1 {
    margin: 20px;
    text-align: justify;
    font-size: 16px;
    border-radius: 2rem;
    display: list-item;
  }
  .imagen2 {
    border-radius: 2rem;
    margin: 10px;
  }
  .grillita {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 3rem;
    grid-template-areas: "regresar" "categoria" "a b";
    align-content: space-evenly;
  }
  .historias {
    margin: 30px;
    border: 2px ridge #c153b4;
    width: 300px;
    padding: 10px 10px 10px 10px;
  }
  .historias2 {
    margin: 30px;
    border: 2px ridge #c153b4;
    width: 300px;
    padding: 10px 10px 10px 10px;
  }
  .grilla3 {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "uno" "dos" "tres" "Bbrujas" "Bbrujas2";
  }
  .grilla3 .uno {
    grid-area: uno;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 18px;
    text-align: justify;
  }
  .grilla3 .dos {
    grid-area: dos;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 18px;
    text-align: justify;
  }
  .grilla3 .tres {
    grid-area: tres;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 18px;
    text-align: justify;
  }
  .grilla3 .Bbrujas2 {
    display: none;
  }
  .link {
    display: list-item;
  }
}/*# sourceMappingURL=styles.css.map */