

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


*::selection {
  color: darkmagenta;
  background-color: mistyrose;
}

*::-moz-selection {
  color: darkmagenta;
  background-color: mistyrose;
}


.regresar > * {
  color: #9e0059;
  font-size: 20px;
  grid-area: regresar;
  margin: 50px;

  @media (max-width: 1000px) {
      font-size: 16px;
  }
}

.regresar2 > * {
  color: #e0aaff;
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px;
  padding-left: 80px;

  @media (max-width: 1000px) {
      font-size: 16px;
      padding-bottom: 30px;
      padding-left: 40px;
  }
}

.regresar3 > * {
  color: #9b5de5;
  font-size: 20px;
  margin: 50px;
  @media (max-width: 1000px) {
      font-size: 16px;
      padding-bottom: 30px;
      padding-left: 40px;
  }
}

