$font-family-1: 'Julius Sans One', sans-serif;
$font-family-2: 'Loved by the King', sans-serif;
$font-family-3: 'Cormorant Garamond', serif;
$font-family-4: 'Castoro Titling', cursive;
$font-family-5: 'Cinzel Decorative', cursive;

$color-black: black;
$color-pink: pink;
$color-aquamarine: aquamarine;
$color-c415c4: #c415c4;
$color-red: red;
$color-b5179e: #b5179e;
$color-ff9f1c: #ff9f1c;
$color-dc2f02: #dc2f02;
$color-9b5de5: #9b5de5;
$color-132a13: #132a13;
$color-081c15: #081c15;
$color-3c096c: #3c096c;
$color-e0aaff: #e0aaff;
$color-ad4f08: #ad4f08;
$color-ffcad4:#ffcad4;

